body{
  margin: 0;
  font-family: copperplate, serif;
  font-weight: 300;
  font-style: normal;
}


main{
  width: 90%;
  margin: 0;
  margin: auto;
  margin-top: 7%;
}
main h2{
  text-align: center;
}
main p{
  justify-content: center;
  text-align: justify;
}
.GridImg img{
  width: 100%;
}
.GridImg{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: auto;
  justify-content: space-around;
  margin-top: 4%;
  margin-bottom: 4%;
}

@media (max-width: 1000px) {
  main{
    margin-top: 0;
  }

}
